{% extends "pages_base.html" %}

{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Trying to improve web scraping market</h3>
          <p>
            Marketplaces like upwork are terrible, very low bidding, dependence
            from the 3rd party, customers who expecting to hire a rockstar
            for 5$ per hour. Fuck them all.
          </p>
          <h3 class="ui header">We just trying to connect people together</h3>
          <p>
            Yes, there is no fees yet, it just a board where you could
            hire specialist for your data scraping related project
          </p>
        </div>
        <div class="six wide right floated column">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
