<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="950WJhxGLZJhN4n2_ACxiKRuPaFvviY2YtTeivrMud0" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.2.0/flexboxgrid.min.css" type="text/css" >
    <style type="text/css">
      .example-enter {
        opacity: 0.01;
        transition: opacity .5s ease-in;
      }

      .example-enter.example-enter-active {
        opacity: 1;
      }

      .example-leave {
        opacity: 1;
        transition: opacity .5s ease-in;
      }

      .example-leave.example-leave-active {
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <!--App-->
  </body>
</html>
